body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
  
}

.site-title {
  font-size: 3rem;
  color: #000000;
  text-decoration: none;
  transition: font-size 0.3s ease;
  user-select: none; /* Impede seleção via mouse */
  cursor: pointer;
}

.navbar-centro {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      transition: background-color 0.3s ease;
      background-color: transparent;
}

.navbar-centro.scrolled {
      background-color: #ffffff;
      font-size: 2rem;
}

.navbar-centro h1 {
      font-size: 3rem;
      color: #000000;
      margin: 0;
}

body {
      padding-top: 120px; /* Espaço para header */
}

.text-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.text-header p {
  font-size: 1.2rem;
  margin: 0;
}

h2 {
  margin-bottom: 20px;
  color: #e50914;
  border-bottom: 2px solid #e50914;
  padding-bottom: 5px;
}

.card {
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
  width: 18.94rem;   /* Equivale a 303px */
  height: 28.81rem;  /* Equivale a 461px */
  object-fit: cover;
  border-radius: 0.5rem; /* Deixa os cantos suaves, opcional */
  margin: auto;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(255, 0, 0, 0.4);
}

.card-title {
  color: #e50914;
}



/*Youtube*/

.category-btn {
  background-color: #e50914; /* Vermelho Netflix */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.category-btn:hover {
  background-color: #b0060f; /* Vermelho mais escuro no hover */
}

/* Se quiser cores diferentes para cada botão, pode usar IDs ou classes extras */

.category-btn.tecnologia {
  background-color: #008080; /* Teal */
}

.category-btn.games {
  background-color: #ff4500; /* Laranja forte */
}

.category-btn.mobile {
  background-color: #007bff; /* Azul */
}

.category-btn.trailers {
  background-color: #555555; /* Cinza escuro */
}


footer {
  background-color: #000;
  color: #fff;
}

